### R ###
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# big project files
/casx_sites_out
/fasta
/figures
/gc_content
/gtfs
/logs
/R_analysis

# specific files
*.gz
*.fai
*.fasta
*.gtf
*.log
*.html
*.png
*.jpeg
